<section class="mission">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 cover-img" style="background-image:url('https://www.pakutaso.com/shared/img/thumb/ZU19704DSC_1429_TP_V.jpg');">
        <div class="cover-text text-center">
          <div style="color: #fff;">
            <h1 class="page-about_title">
              <span class="large">ABOUT</span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <section class="mission-section">
      <div class="body-line">
        <div class="text-center">
          <h2 class="page-about01_title">
            <span class="large">ABOUT</span>
          </h2>
          <div class="box-left">
            <header class="box-header">
              <h3 class="box-title">
                美を求める人が<br>
              　利用するサイトへ
              </h3>
            </header>
            <div class="box-right">
              <p class="box-text">
                B-MKO(美婿)は美容に注目した商品購入・レビューサイトです。<br>
                美婿は美に寄り添える人を増やせることを目的としています。<br>
                気になる商品SNSで見つけた時、即決で購入するのは怖くないですか？
                そんな時、気になる商品のレビューがあったらそのレビューを参考に商品を
                選択できる。そんなサイトがあれば便利だと私達は思います。<br>
                また、今度はご自身でご利用した商品のレビューをしていただくことで<br>
                美容商品で悩んでいる人の助けになる、悩んでいる人の助けになるそんな
                サイトになるよう望んでおります。<br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>