<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="px-3 mx-auto">-->
<!--      <h1 class="text-center text-about-title">About</h1>-->
<!--      <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">-->
<!--        <main class="text-center text-about">-->
<!--          <p>B-MKO(美婿)は美容に注目した商品購入・レビューサイトです。</p>-->
<!--          <p>また、美婿は美に寄り添える人を増やせることを目的としています。</p>-->
<!--          <p>気になる商品を購入するより、他の人のレビューを参考に商品を選択できるような環境あれば一番良いと思います。</p>-->
<!--          <p>ぜひサイトを有効活用して、美に関心を持っていただければ幸いです。</p>-->
<!--        </main>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<section class="mission">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 cover-img" style="background-image:url('https://www.pakutaso.com/shared/img/thumb/ZU19704DSC_1429_TP_V.jpg');">
        <div class="cover-text text-center">
          <div style="color: #fff;">
            <h1 class="page-about_title">
              <span class="large">Mission & Vision</span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <section class="mission-section">
      <div class="body-line">
        <div class="text-center">
          <h2 class="page-about01_title">
            <span class="large">Mission</span>
          </h2>
          <div class="center-block">
            <div class="box1">test
              <div class="box2">test2</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>