<section class="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 cover-img" style="background-image:url('https://photo-chips.com/user_data/00001084_d824df.jpg');">
        <div class="cover-text text-center">
          <div style="color: #black;">
            <h1 class="page-home_title">
              <p>Welcome to B-MKO！</p>
              <p>レビューや商品の評価を参考に自身にあった商品をお探しください。</p>
              <p>お気に入りの商品を投稿してみてください！</p>
              <p>商品投稿には会員登録が必要になります。</p>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <section class="home-top">
      <div class="body-line">
        <div class="text-center">
          <h2 class="page-home01_title">
            <span class="large">B-MKO</span>
          </h2>
        </div>
      </div>
    </section>

    <section class="home-top-products">
      <div class="home-top-products-head">
        <h2 class="home-top-products-title">
          <div class="row">
            <div class="col-xs-12 cover-img" style="background-image:url('https://www.pakutaso.com/shared/img/thumb/skincareIMGL9346.jpg');">
              <div class="cover-text text-center">
                <div style="color: #black;">
                  <h2 class="home-top-title">
                    <span class="large">POSTED PRODUCTS<span>
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </h2>
        <div class="home-top-products-description">
          <span class="home-top-products-description-border">
            <p class="box-text" >
              こちらより投稿された商品一覧を確認することができます。<br>
              以下おすすめ商品からも投稿した商品や<br>
              投稿者のページへ飛ぶことができます。<br>
              <a class="home-top-link-button">商品一覧</a>
            </p>
          </span>
        </div>
      </div>

      <div class="text-center">
        <h2 class="home-top-item">
          <span class="large">NEW POSTS</span>
        </h2>
      </div>
      <div class="home-top-products-item">
        <% @recommend_items.each do |item| %>
          <div class="col-md-4">
            <%= link_to item_path(item) do %>
              <p><%= image_tag item.get_image(200,200) %></p>
            <% end %>
            <p><%= item.name %></p>
            <p><%= item.genre.name %></p>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</section>