<div class="container">
  <h2>ジャンル編集</h2>
  <div class="row">
    <div class="col-md-8 offset-md-1">
        <div class="form-group">
        <label for="genre_name">ジャンル名</label>
        <div class="col-auto">
        <input id="name", class="form-control", type="text" />
        </div>

        <button type="button" class="btn btn-info">保存</button>
        <button type="button" class="btn btn-danger">削除</button>
      </div>
    </div>
  </div>
</div>


