@import "~bootstrap/scss/bootstrap";

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}


// サイドバーのハンバーガメニュー
#hm-icon {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 20px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
}

// spメニュー
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 30%;
  min-height: 100%;
  display: none;
  z-index: 9;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
}
#sp-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

//ハンバーガーメニューの配色
.menu-trigger.active span:nth-child(1) {
  background-color: black !important;
 }

.menu-trigger.active span:nth-child(2) {
  background-color: black !important;
 }

.menu-trigger.active span:nth-child(3) {
  background-color: black !important;
 }

// About用の画像レイアウト
.cover-img {
  height: 600px;
  display: table;
  width: 100%;
  background-size: cover;
}

.cover-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

//Aboutレイアウト
.page-about_title {
  font-size: 44px;
}

.page-about01_title {
  font-size: 35px;
  margin-bottom: 55px;
}

.mission .container {
  margin-bottom: 0;
  margin-top: 60px;
  padding: 0 0 100px;
}

.body-line {
  margin: 0 auto;
  width: 900px;
}

.box-left {
  align-items: flex-start;
  display: flex;
  position: relative;
}

.box-header {
  padding: 93px 114px 93px 46px;
  background-color: #438f68;
  box-sizing: border-box;
  position: relative;
  width: 424px;
  z-index: 0;
}

.box-title {
  color: #fff;
  font-size: 24px;
  line-height: 1.8;
}

.box-right {
  margin-left: -84px;
  margin-top: 50px;
  padding: 50px 62px 50px 50px;
  background-color: #F5F3ED;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.8;
  position: relative;
  width: 560px;
  z-index: 1;
}

// homeページのレイアウト
.page-home_title {
  font-size: 30px;
}

.top .container {
  margin-bottom: 0;
  margin-top: 60px;
}

.page-home01_title {
  font-size: 35px;
  margin-top: 55px;
  margin-bottom: 55px;
}

.home-top-products {
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.home-top-products-head {
  position: relative;
}

.home-top-products-title {
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin-right: 0px;
  margin-left: auto;
  border: 1px solid #000;
  // border-right-width: 0px;
  transition: opacity 1000ms ease,transform 1000ms ease,border 0s ease 1205ms;
}

@media (min-width: 960px) {
  .home-top-products-title {
    margin-bottom: 120px;
    width: 72.05015%;
    height: auto;
  }
}

.home-top-products-description {
  position: relative;
  overflow: hidden;
  z-index: 1;
  left: 0px;
  border-left: 0px;
  box-sizing: border-box;
  border-top: 1px solid #000;
  max-width: 960px;
}

@media (min-width: 960px) {
  .home-top-products-description {
    position: absolute;
    bottom: -40px;
    padding: 0px 0px;
    width: calc(100vw - 280px);
  }
}

.home-top-products-description-border {
  display: block;
  position: relative;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  transition: height 1000ms ease;
  max-width: 960px;
}

.home-top-products-description-border p {
  box-sizing: border-box;
  line-height: 22px;
}

@media (min-width: 960px) {
  .home-top-products-description-border p {
    z-index: 1;
    padding: 60px 64px;
    width: 28vw;
    width: 27.94985vw;
    max-width: 360px;
  }
}

// .home-top-link-button {
//   display: block;
//   padding: 16px 0px;
//   border: 1px solid #000000;
//   color: #000000;
//   line-height: 16px;
//   text-align: center;
//   text-decoration: none;
//   transition: background-color 500ms ease, color 500ms ease;
// }

.home-top-products-item {
  font-size: 35px;
  margin-top: 55px;
  margin-bottom: 55px;
}

// ログインと新規登録画面のエラーメッセージの登録
.error-message {
  color:#262626;
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000 ;
  padding:12px; font-weight:850;
}