 <footer class="bg-dark text-white pt-5 pb-4">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-4">
          <p>美を求める人のそばに</p>
        </div>
        <div class="col-md-8">
          <h6 class="text-white mt-2 mb-3">Link</h6>
          <ul class="p-0 list-unstyled">
            <li><a href="" title="About" class="text-white-50"><%= link_to "概要", homes_about_path %></a></li>
          </ul>
          <p class="copylight">Copyright© 2023 B-MKO. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>