 <footer class="text-dark pt-5 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3 mb-4 text-center">
        <p>美を求める人の傍にB-MKO</p>
        <div class="mb-3"><%= link_to "概要", homes_about_path %></div>
        <p>Copyright© 2023 B-MKO. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>