<div class="listings">
  <div class="listings_channels">
    <ul class="channel_list">
      <li class="nav-item"><%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark' %></li>
      <li class="nav-item"><%= link_to "US一覧", admin_customers_path %>
      <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-danger' %>
    </ul>
  </div>
</div>
